{%extends 'College/layout.html'%}
{%block body%}

<button class="w3-btn w3-blue" style="padding:20px;margin-left:40%;width:20%;margin-top:10%" onclick="location.href='{% url 'createcourse'%}'">Create a new course</button>

<button class="w3-btn w3-blue" style="padding:20px;margin-left:40%;width:20%;margin-top:2%" onclick="location.href='{% url 'clist'%}'">View performance of all students </button>

<button class="w3-btn w3-blue" style="padding:20px;margin-left:40%;width:20%;margin-top:2%" onclick="location.href='{% url 'clist'%}'">Show course statistics</button>

{%endblock%}